{%extends 'base.html'%}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}
<div id="bac" class="jumbotron">
  <h1>{{message}}</h1>
  <p>How can a great day start ? with a good inspiration</p>
  {%for quo in quote%}
    <p>{{quo.quote}}</p>
    <i>~~{{quo.author}}~~</i>

  {%endfor%}


</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <div class="container">
        <h1 id="h1" style="text-align:center">How to make an API request in Angular7</h1>
        <h3>1.Install Angular CLI and Create Angular 7 HttpClient Web Application</h3>
        <p>If you use windows, it might be not necessary to add `sudo`. Next, create a new Angular 7 Web Application using this Angular CLI command.</p>
        <code>ng new angular6-httpclient</code>
        <p>Next, go to the newly created Angular 6 project folder.</p>
        <code>cd ./angular6-httpclient</code>
        <p>Now, you run the new Angular 6 web application using your own host and port.</p>
        <code>ng serve -port 4200</code>
        <p>Then go to <a href="https://127.0.0.1:4200">https://127.0.0.1:4200</a>You should see</p>
        <img src="/static/img/angular.png" alt="">
        <p>Add the functions for all RESTful API CRUD consumption.</p>
        <pre>getProducts(): Observable<any> {
  return this.http.get(endpoint + 'products').pipe(
    map(this.extractData));
}

getProduct(id): Observable<any> {
  return this.http.get(endpoint + 'products/' + id).pipe(
    map(this.extractData));
}

addProduct (product): Observable<any> {
  console.log(product);
  return this.http.post<any>(endpoint + 'products', JSON.stringify(product), httpOptions).pipe(
    tap((product) => console.log(`added product w/ id=${product.id}`)),
    catchError(this.handleError<any>('addProduct'))
  );
}

updateProduct (id, product): Observable<any> {
  return this.http.put(endpoint + 'products/' + id, JSON.stringify(product), httpOptions).pipe(
    tap(_ => console.log(`updated product id=${id}`)),
    catchError(this.handleError<any>('updateProduct'))
  );
}

deleteProduct (id): Observable<any> {
  return this.http.delete<any>(endpoint + 'products/' + id, httpOptions).pipe(
    tap(_ => console.log(`deleted product id=${id}`)),
    catchError(this.handleError<any>('deleteProduct'))
  );
}</pre>
        <br>
        <hr class="bg-info">
        <h1>Comments....</h1>
        <div class="container">
          <div class="comments">
            {%for comment in commento%}
            <div class="comments card">
              <div class="card-header">

                <p>{{comment.username}} commented on {{comment.posted}}</p>
              </div>
              <div class="card-body">
                  <p>{{comment.comment}}</p>
              </div>
              <div class="card-footer">

                {%if current_user.is_authenticated%}
                <a href="" data-method="delete" data-confirm="Are you sure?">admin online</a>
                {%endif%}
              </div>
            </div>

            {%endfor%}

          </div>
          <div class="row">

            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <div class="">
                <h3>Add a comment</h3>
                <i class="alert alert-info"><b>By commenting you automatically subscribe to email subscription</b></i>
                <br>
                <br>
                {{wtf.quick_form(comments)}}

              </div>

            </div>
            <div class="col-md-2">

            </div>

          </div>


        </div>
      </div>

    </div>
    <div id="fixed" class="col-md-4">
      <h1>Tutorials</h1>
      <hr class="bg-success">
      <ul class="list-group">
        {%for blog in blogs%}
        <li class="list-group-item"><a class="bts" href="/read_blog/title/{{blog.id}}">{{blog.title}}</a></li>
        {%endfor%}

      </ul>
    </div>

  </div>
</div>

{%endblock%}
